@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: "center";
  width: 300px;
}

.box-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 5;
}

.green-btn {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  padding: 10px;
  background-color: green;
  color: white;
}
.blue-btn {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  padding: 10px;
  background-color: blue;
  color: white;
}

